<div class="text-center">
    <p>
        This is just a documentation on how to convert to
        <strong>CSV</strong>,
        <strong>XLSX</strong>, and
        <strong>PDF</strong> from JSON response without using npm or bower.
    </p>
    <p>
        We use <a href="http://ngmodules.org/modules/ng-csv" target="_blank">ng-csv</a>,
        <a href="https://github.com/srijken/ng-xlsx" target="_blank">ng-xlsx</a>,
        <a href="http://pdfmake.org" target="_blank">pdfMake</a>,
        <a href="https://github.com/eligrey/FileSaver.js/" target="_blank">fileSaver</a> and
        <a href="https://html2canvas.hertzen.com" target="_blank">html2canvas</a> to do this.
    </p>
</div>
